<div class="login-container">
    <div class="login-box">
        <div class="title">
            {{"LOGIN" |translate}}
        </div>
        <form>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>{{"USER_NAME" |translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>{{"PASSWORD" |translate}}</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </div>
            <div class="submit">
                <button mat-flat-button color="primary">{{"LOGIN" |translate}}</button>
            </div>
            
        </form>
    </div>
</div>